<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Notícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Top Assuntos nas Notícias</h1>
        <a href="/" class="btn-voltar">Voltar</a>
    </header>
    <main>
        <section class="dashboard-container">
            <div>{{ graph_html | safe }}</div>
        </section>
    </main>
    <footer>
        <p>© 2025 - Feito com groove pelo Grokzera</p>
    </footer>
</body>
</html>