<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Últimas Notícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Últimas Notícias</h1>
        <a href="/atualizar" class="btn-atualizar">Atualizar Notícias</a>
        <a href="/dashboard" class="btn-dashboard">Top Assuntos</a>
    </header>
        <main>
        <section class="filtro-container">
            <form method="GET" action="/">
                <label for="data">A partir de:</label>
                <input type="date" id="data" name="data">
                <label for="assunto">Assunto:</label>
                <input type="text" id="assunto" name="assunto" placeholder="Digite um termo">
                <label for="periodo">Período:</label>
                <select id="periodo" name="periodo">
                    <option value="">Todos</option>
                    <option value="semana">Última Semana</option>
                    <option value="mes">Último Mês</option>
                </select>
                <button type="submit" class="btn-filtrar">Filtrar</button>
                <a href="/" class="btn-limpar">Limpar Filtros</a>
            </form>
        </section>
        <section class="noticias-container">
            {% for noticia in noticias %}
                <article class="noticia-card">
                    <h2>{{ noticia.titulo }}</h2>
                    <p>{{ noticia.conteudo[:100] + '...' if noticia.conteudo|length > 100 else noticia.conteudo }}</p>
                    <a class="btn-leia-mais" href="{{ url_for('main.noticia_detalhe', id=noticia.id) }}">Leia mais</a>                </article>
            {% endfor %}
        </section>
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('main.index', page=pagination.prev_num, data=request.args.get('data'), assunto=request.args.get('assunto'), periodo=request.args.get('periodo')) }}"><</a>
            {% endif %}
            <span>Página {{ pagination.page }} de {{ pagination.pages }}</span>
            {% if pagination.has_next %}
                <a href="{{ url_for('main.index', page=pagination.next_num, data=request.args.get('data'), assunto=request.args.get('assunto'), periodo=request.args.get('periodo')) }}">></a>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>© 2025 - Feito por ai</p>
    </footer>
</body>
</html>